#containerthree {
  top: 56px;
  left: 0;
  position: fixed;
  width: 100%;
}

#planbutton {
  border-radius: 5px 0px 0px 5px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  color: black;
  background-color: #ffffff;
  width: 33%;
}
#textalign {
  text-align: center;
}

#recordbutton {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  color: black;
  background-color: #ffffff;
  width: 34%;
}

#viewbutton {
  border-radius: 0px 5px 5px 0px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  color: black;
  background-color: #ffffff;
  width: 33%;
}

.container {
  height: '100%';
  clear: both;
}
